In [144]:
class Employee(object):
    
    count = 0
    
    def __init__(self, name, age):
        
        Employee.count += 1
        
        self.__name = name
        self.__age = age
        self.__city = "San Jose"
    
    def __init__(self, name, age, city):
        
        Employee.count += 1
        
        self.__name = name
        self.__age = age
        self.__city = city
        
    def __str__(self):
        
        return "Name:" + self.__name + " Age:" + str(self.__age)
    
    def __len__(self):
        
        return 2
        
    def setName(self,name):
        
        self.__myOldName = self.__name
        self.__name = name
        
    def getOldName(self):
        
        return self.__myOldName
        
    def setAge(self,age):
        
        self.__age = age
        
    def getName(self):
        
        return self.__name
        
    def getAge(self):
        
        return self.__age

In [145]:
class Teacher(Employee):
    
    def __init__(self, course, name, age, city):
        
        super(Teacher, self).__init__(name,age,city)
        
        self.__course = course

    def getCourse(self):
        return self.__course
    
    def __str__(self):
        return "Course:" + self.__course

In [146]:
mary = Teacher("Python","Mary",35,"San Francisco")

In [147]:
print mary.getAge()

35

In [148]:
print mary.setName("Sally")

None

In [149]:
print mary.getName()
print mary.getOldName()

Sally
Mary

In [65]:
harry = Employee("Harry Potter", 23)

In [58]:
print harry.getName()

Harry Potter

In [59]:
groceryItems = ["sugar","milk","bread"]

In [60]:
print groceryItems

['sugar', 'milk', 'bread']

In [61]:
print bob

Name:Bob Seamon Age:45

In [66]:
print len(bob)

2

In [151]:
class Line:
    
    def __init__(self,length):
        self.length = length
        
    def __add__(self,other):
        
        newLine = Line(self.length + other.length)
        
        return newLine
    
    def __str__(self):
        
        return "Length:" + str(self.length)

In [152]:
firstLine = Line(5)
secondLine = Line(10)

myNewLine = firstLine + secondLine

print myNewLine

Length:15

In [153]:
greeting = "Hello"
name = "Harry"

print greeting  + name

HelloHarry

In [158]:
class Calculator(object):
    
    def __init__(self,n1,n2):
        self.number1 = n1
        self.number2 = n2
        
    def add(self):
        
        return self.number1 + self.number2
    
    def subtract(self):
        
        return self.number1 - self.number2
    
    def __str__(self):
        
        return "Add:%s Subtract:%s" % (str(self.add()),str(self.subtract()))
    
myCal = Calculator(2,3)

print myCal

Add:5 Subtract:-1

In [165]:
class Employee(object):
    
    def __init__(self,name,age,salary):
        
        self.name = name
        self.age = age
        self.salary = salary
        
    def setAge(self,newAge):
        
        self.age = newAge
        
    def __str__(self):
        
        return "Name:%s\n Age:%s\n Salary:%s\n" % (self.name,self.age,self.salary)

In [166]:
newEmployee = Employee("Bob",35,35000)

In [167]:
newEmployee.setAge(36)

In [168]:
print newEmployee

Name:Bob
 Age:36
 Salary:35000