In [6]:
a = [1,2,3]
b = [3,4,5]

x=100
y=20.0

print x+y

print [x+y for x,y in zip(a,b)]

120.0
[4, 6, 8]

In [8]:
print "Hello" + 1

TypeError: cannot concatenate 'str' and 'int' objects

In [9]:
int("h")

ValueError: invalid literal for int() with base 10: 'h'

In [12]:
s="hello" ; print s[10]

IndexError: string index out of range

In [13]:
x = list()
x = []

In [14]:
print x

[]

In [15]:
x = [0]*100

In [16]:
print x

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [17]:
studentAges = [22,33,32,18,19,20]

print studentAges

studentAges.append(27)

print studentAges

[22, 33, 32, 18, 19, 20]
[22, 33, 32, 18, 19, 20, 27]

In [18]:
studentAges = [22,33,32,18,19,20]

print studentAges

studentAges[3] = 42

print studentAges

[22, 33, 32, 18, 19, 20]
[22, 33, 32, 42, 19, 20]

In [22]:
rhyme = ["jack","and","jill","went","up","the","hill"]
print rhyme

del rhyme[2]
print rhyme

rhyme.remove("jack")
print rhyme

['jack', 'and', 'jill', 'went', 'up', 'the', 'hill']
['jack', 'and', 'went', 'up', 'the', 'hill']
['and', 'went', 'up', 'the', 'hill']

In [29]:
x = [1,2,3]
x = (1,2,3)

print sum(x), max(x),min(x),len(x)

6 3 1 3

In [37]:
x = tuple()
print x

x = ()
print x

x = (1,2,3)
print x

()
()
(1, 2, 3)

In [38]:
x.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
y=[1,2,3]
x = tuple(y)

In [40]:
print x

(1, 2, 3)

In [42]:
x = { 1:'jack' , 2:'jill', 3:'harry'}

In [43]:
print x

{1: 'jack', 2: 'jill', 3: 'harry'}

In [44]:
x = { 1:'jack' , 2:'jill', 3:'harry'}

x[4] = "sally"

print x

{1: 'jack', 2: 'jill', 3: 'harry', 4: 'sally'}

In [45]:
x = { 1:'jack' , 2:'jill', 3:'harry'}

x[3] = "sally"

print x

{1: 'jack', 2: 'jill', 3: 'sally'}

In [46]:
del x[2]
print x

{1: 'jack', 3: 'sally'}

In [47]:
x.remove(1)

AttributeError: 'dict' object has no attribute 'remove'

In [51]:
s = "1:'jack' , 2:'jill', 3:'harry'"

In [52]:
print s

 1:'jack' , 2:'jill', 3:'harry'

In [53]:
y = dict(s)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [55]:
for i in range(1,11):
    print i

1
2
3
4
5
6
7
8
9
10

In [60]:
result = 0
for i in range(1,11):
    result = result + i
    
    print i,result
    
print result

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
55

In [61]:
count = 0
while (count < 10):
    count = count + 1
    
    print count

1
2
3
4
5
6
7
8
9
10

In [2]:
### YOUR CODE GOES BELOW

centigrade = float(raw_input("Enter temperature in Centigrade:"))
fahrenheit = 9*centigrade/5 + 32

print "Temperature in Fahrenheit:", fahrenheit

fahrenheit = int(raw_input("Enter temperature in Fahrenheit:"))
centigrade = (5/9)*(fahrenheit - 32)

print "Temperature in Centigrade:", centigrade

### END CODE

Enter temperature in Centigrade:32
Temperature in Fahrenheit: 89.6

KeyboardInterrupt:

In [5]:
5/9.0

0.5555555555555556

In [6]:
harryAge = raw_input("Enter Harry's age:")
sallyAge = raw_input("Enter Sally's age:")
maryAge = raw_input("Enter Mary's age:")

#if (harryAge < 20 and ...):
#    print "Harry's age"
    
print ("%s age is less than %s age") % ("Harry","Sally")

Harry age is less than Sally age

In [10]:
result  = 1
for i in range(1,10):
    
    
    result = result*i
    
    print result,i

print result

1 1
2 2
6 3
24 4
120 5
720 6
5040 7
40320 8
362880 9
362880

In [17]:
greeting = "Hello"

print greeting

print greeting + " Tom"

greeting[len(greeting)-1]

Hello
Hello Tom

'o'

In [28]:
greeting = "Hello"

salary = 50000.32

salary = "50000.32"

print int(salary)

ValueError: invalid literal for int() with base 10: '50000.32'

In [35]:
x = []

y = list([1,2,3])

z = [1,2,3,4,"Harry","Sally"]

print "x:",x

print "y:",y

print "z:",z

print range(1,6)

x: []
y: [1, 2, 3]
z: [1, 2, 3, 4, 'Harry', 'Sally']
[1, 2, 3, 4, 5]

In [51]:
print z

print "len:",len(z)

for index in range(0,len(z)):
    print ("z[%s]:%s") % (index,z[index])
    
z = z + y

print "Updated list:", z

z.insert(2,"Mary")

print "Updated list:", z

z.pop()

?z.pop()

[1, 2, 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1]
len: 22
z[0]:1
z[1]:2
z[2]:Mary
z[3]:Mary
z[4]:Mary
z[5]:3
z[6]:4
z[7]:Harry
z[8]:Sally
z[9]:Joe
z[10]:1
z[11]:2
z[12]:3
z[13]:1
z[14]:2
z[15]:3
z[16]:1
z[17]:2
z[18]:3
z[19]:1
z[20]:2
z[21]:1
Updated list: [1, 2, 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2, 3]
Updated list: [1, 2, 'Mary', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2, 3]

In [54]:
print z

[1, 2, 'Mary', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2]

In [59]:
name = "Harry"
friend = "Sally"
age = 49

print "Hello Harry, meet Sally"

print ("Hello %s, meet %s. She is %d years old") % (name,friend,age)

Hello Harry, meet Sally
Hello Harry, meet Sally. She is 49 years old

In [60]:
print z

[1, 2, 'Mary', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2]

In [61]:
z[2] = "Sarah"

print z

[1, 2, 'Sarah', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 'Joe', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2]

In [62]:
del z[10]

print z

[1, 2, 'Sarah', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 'Sally', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2]

In [63]:
z.remove("Sally")

print z

[1, 2, 'Sarah', 'Mary', 'Mary', 'Mary', 3, 4, 'Harry', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2]

In [67]:
z.append("Mary")

print z

[1, 2, 'Sarah', 3, 4, 'Harry', 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 1, 1, 2, 'Mary']

In [69]:
numbers = "1,2,3,4,5"

numbersList = numbers.split(",")

print numbersList

['1', '2', '3', '4', '5']

In [72]:
for i in z:
    print i," ",

1   2   Sarah   3   4   Harry   1   2   3   1   2   3   1   2   3   1   2   1   1   2   Mary

In [75]:
numbers = [1,2,3,4,5]
sum(numbers)

15

In [78]:
print max(numbers),  min(numbers),  len(numbers)

5 1 5

In [88]:
firstTuple = (1,2,3)

print type(firstTuple)

firstTuple = firstTuple + firstTuple

print type(firstTuple)

x = 5

x = "Harry"

print x

<type 'tuple'>
<type 'tuple'>
Harry

In [89]:
print firstTuple

(1, 2, 3, 1, 2, 3)

In [93]:
len(firstTuple)

6

In [95]:
del firstTuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [96]:
for i in firstTuple:
    print i

1
2
3
1
2
3

In [97]:
x = {1:"Mary",2:"Susan"}

print x

{1: 'Mary', 2: 'Susan'}

In [101]:
x["Sally"] = "Joe"

print x

{1: 'Mary', 2: 'Susan', 'Sally': 'Joe', 4: 'Joe'}

In [102]:
x['Sally']

'Joe'

In [108]:
x[6] = "Dinner"
if x.get(6) == None:
    print "The key does not exist"
else:
    print x[6]

Dinner

In [110]:
x[6] = ['Breakfast','Lunch','Dinner']

print x

{1: 'Mary', 2: 'Susan', 'Sally': 'Joe', 4: 'Joe', 6: ['Breakfast', 'Lunch', 'Dinner']}

In [112]:
del x[6]

In [113]:
print x

{1: 'Mary', 2: 'Susan', 'Sally': 'Joe', 4: 'Joe'}

In [114]:
print x

{1: 'Mary', 2: 'Susan', 'Sally': 'Joe', 4: 'Joe'}

In [115]:
print x.values()

['Mary', 'Susan', 'Joe', 'Joe']

In [119]:
print 5 in x.keys()

False

In [123]:
for value in x.values():
    print value

Mary
Susan
Joe
Joe

In [124]:
addressList = ['Cecilia Chapman',
'711-2880 Nulla St.',
'Mankato Mississippi 96522',
'(257) 563-7401',
'Iris Watson',
'P.O. Box 283 8562 Fusce Rd.',
'Frederick Nebraska 20620',
'(372) 587-2335',
'Celeste Slater',
'606-3727 Ullamcorper. Street',
'Roseville NH 11523',
'(786) 713-8616',
'Theodore Lowe',
'Ap #867-859 Sit Rd.',
'Azusa New York 39531',
'(793) 151-6230',
'Calista Wise',
'7292 Dictum Av.',
'San Antonio MI 47096',
'(492) 709-6392',
'Kyla Olsen',
'Ap #651-8679 Sodales Av.',
'Tamuning PA 10855',
'(654) 393-5734',
'Forrest Ray',
'191-103 Integer Rd.',
'Corona New Mexico 08219',
'(404) 960-3807',
'Hiroko Potter',
'P.O. Box 887 2508 Dolor. Av.',
'Muskegon KY 12482',
'(314) 244-6306',
'Nyssa Vazquez',
'511-5762 At Rd.',
'Chelsea MI 67708',
'(947) 278-5929',
'Lawrence Moreno',
'935-9940 Tortor. Street',
'Santa Rosa MN 98804',
'(684) 579-1879',
'Ina Moran',
'P.O. Box 929 4189 Nunc Road',
'Lebanon KY 69409',
'(389) 737-2852',
'Aaron Hawkins',
'5587 Nunc. Avenue',
'Erie Rhode Island 24975',
'(660) 663-4518',
'Hedy Greene',
'Ap #696-3279 Viverra. Avenue',
'Latrobe DE 38100',
'(608) 265-2215',
'Melvin Porter',
'P.O. Box 132 1599 Curabitur Rd.',
'Bandera South Dakota 45149',
'(959) 119-8364',
'Keefe Sellers',
'347-7666 Iaculis St.',
'Woodruff SC 49854',
'(468) 353-2641',
'Joan Romero',
'666-4366 Lacinia Avenue',
'Idaho Falls Ohio 19253',
'(248) 675-4007',
'Davis Patrick',
'P.O. Box 147 2546 Sociosqu Rd.',
'Bethlehem Utah 02913',
'(939) 353-1107',
'Leilani Boyer',
'557-6308 Lacinia Road',
'San Bernardino ND 09289',
'(570) 873-7090',
'Colby Bernard',
'Ap #285-7193 Ullamcorper Avenue',
'Amesbury HI 93373',
'(302) 259-2375',
'Bryar Pitts',
'5543 Aliquet St.',
'Fort Dodge GA 20783',
'(717) 450-4729',
'Rahim Henderson',
'5037 Diam Rd.',
'Daly City Ohio 90255',
'(453) 391-4650',
'Noelle Adams',
'6351 Fringilla Avenue',
'Gardena Colorado 37547',
'(559) 104-5475',
'Lillith Daniel',
'935-1670 Neque. St.',
'Centennial Delaware 48432',
'(387) 142-9434',
'Adria Russell',
'414-7533 Non Rd.',
'Miami Beach North Dakota 58563',
'(516) 745-4496',
'Hilda Haynes',
'778-9383 Suspendisse Av.',
'Weirton IN 93479',
'(326) 677-3419',
'Sheila Mcintosh',
'P.O. Box 360 4407 Et Rd.',
'Santa Monica FL 30309',
'(746) 679-2470',
'Rebecca Chambers',
'P.O. Box 813 5982 Sit Ave',
'Liberal Vermont 51324',
'(455) 430-0989',
'Christian Emerson',
'P.O. Box 886 4118 Arcu St.',
'Rolling Hills Georgia 92358',
'(490) 936-4694',
'Nevada Ware',
'P.O. Box 597 4156 Tincidunt Ave',
'Green Bay Indiana 19759',
'(985) 834-8285',
'Margaret Joseph',
'P.O. Box 508 3919 Gravida St.',
'Tamuning Washington 55797',
'(662) 661-1446',
'Edward Nieves',
'928-3313 Vel Av.',
'Idaho Falls Rhode Island 37232',
'(802) 668-8240',
'Imani Talley',
'P.O. Box 262 4978 Sit St.',
'Yigo Massachusetts 50654',
'(477) 768-9247',
'Bertha Riggs',
'P.O. Box 206 6639 In St.',
'Easthampton TN 31626',
'(791) 239-9057',
'Wallace Ross',
'313 Pellentesque Ave',
'Villa Park Hawaii 43526',
'(832) 109-0213',
'Chester Bennett',
'3476 Aliquet. Ave',
'Minot AZ 95302',
'(837) 196-3274',
'Castor Richardson',
'P.O. Box 902 3472 Ullamcorper Street',
'Lynchburg DC 29738',
'(268) 442-2428',
'Sonya Jordan',
'Ap #443-336 Ullamcorper. Street',
'Visalia VA 54886',
'(850) 676-5117',
'Harrison Mcguire',
'574-8633 Arcu Street',
'San Fernando ID 77373',
'(861) 546-5032',
'Malcolm Long',
'9291 Proin Road',
'Lake Charles Maine 11292',
'(176) 805-4108',
'Raymond Levy',
'Ap #643-7006 Risus St.',
'Beaumont New Mexico 73585',

SyntaxError: invalid syntax (<ipython-input-124-c607638aebdf>, line 401)

In [125]:
addressList = ['Cecilia Chapman',
'711-2880 Nulla St.',
'Mankato Mississippi 96522',
'(257) 563-7401',
'Iris Watson',
'P.O. Box 283 8562 Fusce Rd.',
'Frederick Nebraska 20620',
'(372) 587-2335',
'Celeste Slater',
'606-3727 Ullamcorper. Street',
'Roseville NH 11523',
'(786) 713-8616',
'Theodore Lowe',
'Ap #867-859 Sit Rd.',
'Azusa New York 39531',
'(793) 151-6230',
'Calista Wise',
'7292 Dictum Av.',
'San Antonio MI 47096',
'(492) 709-6392',
'Kyla Olsen',
'Ap #651-8679 Sodales Av.',
'Tamuning PA 10855',
'(654) 393-5734',
'Forrest Ray',
'191-103 Integer Rd.',
'Corona New Mexico 08219',
'(404) 960-3807',
'Hiroko Potter',
'P.O. Box 887 2508 Dolor. Av.',
'Muskegon KY 12482',
'(314) 244-6306',
'Nyssa Vazquez',
'511-5762 At Rd.',
'Chelsea MI 67708',
'(947) 278-5929',
'Lawrence Moreno',
'935-9940 Tortor. Street',
'Santa Rosa MN 98804',
'(684) 579-1879',
'Ina Moran',
'P.O. Box 929 4189 Nunc Road',
'Lebanon KY 69409',
'(389) 737-2852',
'Aaron Hawkins',
'5587 Nunc. Avenue',
'Erie Rhode Island 24975',
'(660) 663-4518',
'Hedy Greene',
'Ap #696-3279 Viverra. Avenue',
'Latrobe DE 38100',
'(608) 265-2215',
'Melvin Porter',
'P.O. Box 132 1599 Curabitur Rd.',
'Bandera South Dakota 45149',
'(959) 119-8364',
'Keefe Sellers',
'347-7666 Iaculis St.',
'Woodruff SC 49854',
'(468) 353-2641',
'Joan Romero',
'666-4366 Lacinia Avenue',
'Idaho Falls Ohio 19253',
'(248) 675-4007',
'Davis Patrick',
'P.O. Box 147 2546 Sociosqu Rd.',
'Bethlehem Utah 02913',
'(939) 353-1107',
'Leilani Boyer',
'557-6308 Lacinia Road',
'San Bernardino ND 09289',
'(570) 873-7090',
'Colby Bernard',
'Ap #285-7193 Ullamcorper Avenue',
'Amesbury HI 93373',
'(302) 259-2375',
'Bryar Pitts',
'5543 Aliquet St.',
'Fort Dodge GA 20783',
'(717) 450-4729',
'Rahim Henderson',
'5037 Diam Rd.',
'Daly City Ohio 90255',
'(453) 391-4650',
'Noelle Adams',
'6351 Fringilla Avenue',
'Gardena Colorado 37547',
'(559) 104-5475',
'Lillith Daniel',
'935-1670 Neque. St.',
'Centennial Delaware 48432',
'(387) 142-9434',
'Adria Russell',
'414-7533 Non Rd.',
'Miami Beach North Dakota 58563',
'(516) 745-4496',
'Hilda Haynes',
'778-9383 Suspendisse Av.',
'Weirton IN 93479',
'(326) 677-3419',
'Sheila Mcintosh',
'P.O. Box 360 4407 Et Rd.',
'Santa Monica FL 30309',
'(746) 679-2470',
'Rebecca Chambers',
'P.O. Box 813 5982 Sit Ave',
'Liberal Vermont 51324',
'(455) 430-0989',
'Christian Emerson',
'P.O. Box 886 4118 Arcu St.',
'Rolling Hills Georgia 92358',
'(490) 936-4694',
'Nevada Ware',
'P.O. Box 597 4156 Tincidunt Ave',
'Green Bay Indiana 19759',
'(985) 834-8285',
'Margaret Joseph',
'P.O. Box 508 3919 Gravida St.',
'Tamuning Washington 55797',
'(662) 661-1446',
'Edward Nieves',
'928-3313 Vel Av.',
'Idaho Falls Rhode Island 37232',
'(802) 668-8240',
'Imani Talley',
'P.O. Box 262 4978 Sit St.',
'Yigo Massachusetts 50654',
'(477) 768-9247',
'Bertha Riggs',
'P.O. Box 206 6639 In St.',
'Easthampton TN 31626',
'(791) 239-9057',
'Wallace Ross',
'313 Pellentesque Ave',
'Villa Park Hawaii 43526',
'(832) 109-0213',
'Chester Bennett',
'3476 Aliquet. Ave',
'Minot AZ 95302',
'(837) 196-3274',
'Castor Richardson',
'P.O. Box 902 3472 Ullamcorper Street',
'Lynchburg DC 29738',
'(268) 442-2428',
'Sonya Jordan',
'Ap #443-336 Ullamcorper. Street',
'Visalia VA 54886',
'(850) 676-5117',
'Harrison Mcguire',
'574-8633 Arcu Street',
'San Fernando ID 77373',
'(861) 546-5032',
'Malcolm Long',
'9291 Proin Road',
'Lake Charles Maine 11292',
'(176) 805-4108',
'Raymond Levy',
'Ap #643-7006 Risus St.',
'Beaumont New Mexico 73585',
'(715) 912-6931',
'Hedley Ingram',
'737-2580 At Street',
'Independence Texas 87535',
'(993) 554-0563',
'David Mathews',
'1011 Malesuada Road',
'Moscow Kentucky 77382',
'(357) 616-5411',
'Xyla Cash',
'969-1762 Tincidunt Rd.',
'Boise CT 35282',
'(121) 347-0086',
'Madeline Gregory',
'977-4841 Ut Ave',
'Walla Walla Michigan 82776',
'(304) 506-6314',
'Griffith Daniels',
'6818 Eget St.',
'Tacoma AL 92508',
'(425) 288-2332',
'Anne Beasley',
'987-4223 Urna St.',
'Savannah Illinois 85794',
'(145) 987-4962',
'Chaney Bennett',
'P.O. Box 721 902 Dolor Rd.',
'Fremont AK 19408',
'(187) 582-9707',
'Daniel Bernard',
'P.O. Box 567 1561 Duis Rd.',
'Pomona TN 08609',
'(750) 558-3965',
'Willow Hunt',
'Ap #784-1887 Lobortis Ave',
'Cudahy Ohio 31522',
'(492) 467-3131',
'Judith Floyd',
'361-7936 Feugiat St.',
'Williston Nevada 58521',
'(774) 914-2510',
'Seth Farley',
'6216 Aenean Avenue',
'Seattle Utah 81202',
'(888) 106-8550',
'Zephania Sanders',
'3714 Nascetur St.',
'Hawthorne Louisiana 10626',
'(539) 567-3573',
'Calista Merritt',
'Ap #938-5470 Posuere Ave',
'Chickasha LA 58520',
'(693) 337-2849',
'Craig Williams',
'P.O. Box 372 5634 Montes Rd.',
'Springdale MO 57692',
'(545) 604-9386',
'Lee Preston',
'981 Eget Rd.',
'Clemson GA 04645',
'(221) 156-5026',
'Katelyn Cooper',
'6059 Sollicitudin Road',
'Burlingame Colorado 26278',
'(414) 876-0865',
'Lacy Eaton',
'1379 Nulla. Av.',
'Asbury Park Montana 69679',
'(932) 726-8645',
'Driscoll Leach',
'P.O. Box 120 2410 Odio Avenue',
'Pass Christian Delaware 03869',
'(726) 710-9826',
'Merritt Watson',
'P.O. Box 686 7014 Amet Street',
'Corona Oklahoma 55246',
'(622) 594-1662',
'Nehru Holmes',
'P.O. Box 547 4764 Sed Road',
'Grand Rapids CT 87323',
'(948) 600-8503',
'Quamar Rivera',
'427-5827 Ac St.',
'Schaumburg Arkansas 84872',
'(605) 900-7508',
'Hiram Mullins',
'754-6427 Nunc Ave',
'Kennewick AL 41329',
'(716) 977-5775',
'Kim Fletcher',
'Ap #345-3847 Metus Road',
'Independence CO 30135',
'(368) 239-8275',
'Rigel Koch',
'P.O. Box 558 9561 Lacus. Road',
'Laughlin Hawaii 99602',
'(725) 342-0650',
'Jeanette Sharpe',
'Ap #364-2006 Ipsum Avenue',
'Wilmington Ohio 91750',
'(711) 993-5187',
'Dahlia Lee',
'1293 Tincidunt Street',
'Atwater Pennsylvania 76865',
'(882) 399-5084',
'Howard Hayden',
'P.O. Box 847 8019 Facilisis Street',
'Joliet SC 73490',
'(287) 755-9948',
'Hyatt Kramer',
'1011 Massa Av.',
'Kent ID 63725',
'(659) 551-3389',
'Sonya Ray',
'Ap #315-8441 Eleifend Street',
'Fairbanks RI 96892',
'(275) 730-6868',
'Cara Whitehead',
'4005 Praesent St.',
'Torrance Wyoming 22767',
'(725) 757-4047',
'Blythe Carroll',
'7709 Justo. Ave',
':Princeton TX 77987',
'(314) 882-1496',
'Dale Griffin',
'P.O. Box 854 8580 In Ave',
'Revere South Dakota 43841',
'(639) 360-7590',
'McKenzie Hernandez',
'Ap #367-674 Mi Street',
'Greensboro VT 40684',
'(168) 222-1592',
'Haviva Holcomb',
'P.O. Box 642 3450 In Road',
'Isle of Palms New York 03828',
'(896) 303-1164',
'Ezra Duffy',
'Ap #782-7348 Dis Rd.',
'Austin KY 50710',
'(203) 982-6130',
'Eleanor Jennings',
'9631 Semper Ave',
'Astoria NJ 66309',
'(906) 217-1470',
'Remedios Hester',
'487-5787 Mollis St.',
'City of Industry Louisiana 67973',
'(614) 514-1269',
'Jasper Carney',
'1195 Lobortis Rd.',
'New Orleans New Hampshire 71983',
'(763) 409-5446',
'Vielka Nielsen',
'Ap #517-7326 Elementum Rd.',
'Fort Smith North Dakota 79637',
'(836) 292-5324',
'Wilma Pace',
'Ap #676-6532 Odio Rd.',
'Darlington CO 06963',
'(926) 709-3295',
'Palmer Gay',
'557-2026 Purus St.',
'Watertown TN 07367',
'(963) 356-9268',
'Lyle Sutton',
'Ap #250-9843 Elementum St.',
'South Gate Missouri 68999',
'(736) 522-8584',
'Ina Burt',
'Ap #130-1685 Ut Street',
'Tyler KS 73510',
'(410) 483-0352',
'Cleo Best',
'282-8351 Tincidunt Ave',
'Sedalia Utah 53700',
'(252) 204-1434',
'Hu Park',
'1429 Netus Rd.',
'Reedsport NY 48247',
'(874) 886-4174',
'Liberty Walton',
'343-6527 Purus. Avenue',
'Logan NV 12657',
'(581) 379-7573',
'Aaron Trujillo',
'Ap #146-3132 Cras Rd.',
'Kingsport NH 56618',
'(983) 632-8597',
'Elmo Lopez',
'Ap #481-7473 Cum Rd.',
'Yorba Linda South Carolina 28423',
'(295) 983-3476',
'Emerson Espinoza',
'Ap #247-5577 Tincidunt St.',
'Corpus Christi WI 97020',
'(873) 392-8802',
'Daniel Malone',
'2136 Adipiscing Av.',
'Lima RI 93490',
'(360) 669-3923',
'Dante Bennett',
'481-8762 Nulla Street',
'Dearborn OR 62401',
'(840) 987-9449',
'Sade Higgins',
'Ap #287-3260 Ut St.',
'Wilmington OR 05182',
'(422) 517-6053',
'Zorita Anderson',
'1964 Facilisis Avenue',
'Bell Gardens Texas 87065',
'(126) 940-2753',
'Jordan Calderon',
'430-985 Eleifend St.',
'Duluth Washington 92611',
'(427) 930-5255',
'Ivor Delgado',
'Ap #310-1678 Ut Av.',
'Santa Barbara MT 88317',
'(689) 721-5145',
'Pascale Patton',
'P.O. Box 399 4275 Amet Street',
'West Allis NC 36734',
'(676) 334-2174',
'Nasim Strong',
'Ap #630-3889 Nulla. Street',
'Watervliet Oklahoma 70863',
'(437) 994-5270',
'Keaton Underwood',
'Ap #636-8082 Arcu Avenue',
'Thiensville Maryland 19587',
'(564) 908-6970',
'Keegan Blair',
'Ap #761-2515 Egestas. Rd.',
'Manitowoc TN 07528',
'(577) 333-6244',
'Tamara Howe',
'3415 Lobortis. Avenue',
'Rocky Mount WA 48580',
'(655) 840-6139']

In [126]:
print len(addressList)

400

In [127]:
print addressList[0:10]

['Cecilia Chapman', '711-2880 Nulla St.', 'Mankato Mississippi 96522', '(257) 563-7401', 'Iris Watson', 'P.O. Box 283 8562 Fusce Rd.', 'Frederick Nebraska 20620', '(372) 587-2335', 'Celeste Slater', '606-3727 Ullamcorper. Street']

In [140]:
count = 0

comprehensiveInfo = {}

for i in range(0,len(addressList),4):
    
    individualInfo = {}

    individualInfo["Name"] = addressList[i]
    individualInfo["Street"] =  addressList[i+1]
    individualInfo["City"] =  addressList[i+2]
    individualInfo["Phone"] =  addressList[i+3]

    comprehensiveInfo[addressList[i]] = individualInfo

In [141]:
print len(comprehensiveInfo)

100

In [143]:
print comprehensiveInfo['Cecilia Chapman']['City']

Mankato Mississippi 96522

###  Write a Python script to sort a list of integers in descending order

In [145]:
numbers = [3,5,6,2,9,1,6,10]
result = []

for i in range(len(numbers)):
    smallest = min(numbers)
    result.append(smallest)
    numbers.remove(smallest)
    
print "Result:",result

Result: [1, 2, 3, 5, 6, 6, 9, 10]

### Write a Python script to sort the elements of a dictionary (by key) in ascending order